{% extends 'base.html' %}

{% block container %}
    <div class="page-title">
        <h1>AudioStamper</h1>
    </div>

    <div class="step files collapse show">
        <h2>Input files</h2>
        <div class="row">
            <div class="col">
                <label for="files_audio">
                    Audio File
                </label>

                <div class="input-group mb-3">
                    <input type="text" name="files_audio" id="files_audio" readonly="readonly" class="form-control">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button" id="files_audio_select">
                            Browse...
                        </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <label for="files_features">
                    Features File
                </label>

                <div class="input-group mb-3">
                    <input type="text" name="files_features" id="files_features" readonly="readonly" class="form-control">
                    <div class="input-group-append">
                        <button type="button" id="files_features_select" class="btn btn-primary">
                            Browse...
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="step options collapse">
        <div class="row">
            <div class="col">
                <h2>Options</h2>
            </div>
            <div class="col-2">
                <button type="button" id="options_auto_detect" class="btn btn-primary btn-block btn-lg">
                    Auto Detect
                </button>
            </div>
        </div>
        <p class="text-muted">
            Auto detecting the values can take some time and will consume lots of memory and CPU.
        </p>

        <div class="row">
            <div class="col">
                <label for="options_sample_rate">
                    Sample Rate (Hz)
                </label>

                <input type="number" name="options_sample_rate" id="options_sample_rate" class="form-control">
            </div>
            <div class="col">
                <label for="options_total_duration">
                    Total duration (ms)
                </label>

                <input type="number" name="options_total_duration" id="options_total_duration" class="form-control">
            </div>
            <div class="col">
                <label for="options_split_duration">
                    Split duration (ms)
                </label>

                <input type="number" name="options_split_duration" id="options_split_duration" class="form-control">
                <span class="help-text ">
                    <var>sd</var> = <var>total_duration</var> / <var>total_splits</var>
                </span>
            </div>
            <div class="col">
                <label for="options_total_splits">
                    Total splits (csv lines)
                </label>

                <input type="number" name="options_total_splits" id="options_total_splits" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col">

            </div>
            <div class="col">

            </div>
        </div>

        <br>

        <div class="row justify-content-center">
            <div class="col-3">
                <button type="button" id="options_done" class="btn btn-lg btn-block btn-secondary">
                    Start Stamper!
                </button>
            </div>
        </div>
    </div>

    <div class="step stamp collapse">
        <form method="post" action="">

            <div class="player">
                <audio id="stamp_player"></audio>
                <div class="player-controls">
                    <div class="player-controls-motion-container">
                        <a href="#" class="control control-prevframe">
                            <i class="fas fa-undo-alt"></i>
                        </a>
                        <a href="#" class="control control-playpause">
                            <i class="fas fa-play"></i>
                        </a>
                        <a href="#" class="control control-nextframe">
                            <i class="fas fa-redo-alt"></i>
                        </a>
                    </div>

                    <div class="player-slider-container nice-slider-container">
                        <input type="range" class="player-slider nice-slider" value="0">
                    </div>

                    <div class="player-time-container">
                        <span class="player-time">00:00.00</span>
                    </div>

                    <div class="player-volume-container">
                        <a href="#" class="control control-volume">
                            <i class="fas fa-volume-up"></i>
                        </a>

                        <div class="player-volume-slider-container nice-slider-container">
                            <input type="range" class="player-volume-slider nice-slider" min="0" max="100" value="100">
                        </div>
                    </div>
                </div>

                <div class="stats row">
                    <div class="col">
                        <strong>Status: </strong><span class="status-field">Stopped</span>
                    </div>
                    <div class="col">
                        <strong>Time: </strong><span class="status-currenttime">00:00.000</span> / <span class="status-totaltime">00:00.000</span>
                    </div>
                    <div class="col">
                        <strong>Split: </strong><span class="status-currentsplit">?</span> / <span class="status-totalsplits">?</span>
                    </div>
                </div>
            </div>

        </form>
    </div>



    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="browse_modal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Select <span id="browser_title_type"></span> file</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="browser_loading">
                        Please wait...
                    </div>
                    <div id="browser_content" class="scrollable hidden">
                        <table class="table table-sm table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th>File</th>
                                    <th>Type</th>
                                    <th>Size</th>
                                </tr>
                            </thead>
                            <tbody id="browser_list">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="browser_ok">OK</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_js %}
    <script src="https://cdn.plyr.io/3.5.2/plyr.js"></script>
    <script>
        function formatTime(timeInSeconds) {
            var pad = function(num, size) { return ('000' + num).slice(size * -1); },
                time = parseFloat(timeInSeconds).toFixed(3),
                hours = Math.floor(time / 60 / 60),
                minutes = Math.floor(time / 60) % 60,
                seconds = Math.floor(time - minutes * 60),
                milliseconds = time.slice(-3);

            return pad(hours, 2) + ':' + pad(minutes, 2) + ':' + pad(seconds, 2) + '.' + pad(milliseconds, 3);
        }

        $(function () {
            var browseModal = $('#browse_modal').modal({show: false});

            function selectFile(type, done) {
                browseModal.modal('show');
                $('#browser_title_type').text(type);
                $('#browser_list').empty();
                $('#browser_loading').show();
                $('#browser_ok').prop('disabled', true);

                // Fetch browseable files.
                $.ajax({
                    url: '/ajax/browse',
                    type: 'GET',
                    data: {
                        type: type
                    },
                    success: function(data, textStatus, jqXHR) {
                        // Fill table.
                        var tbody = $('#browser_list');
                        for (var fileNr in data.files) {
                            var file = data.files[fileNr];
                            tbody.append(
                                '<tr data-file="' + file.name + '">' +
                                    '<td>' + file.name + '</td>' +
                                    '<td>' + file.extension + '</td>' +
                                    '<td>' + file.human_size + '</td>' +
                                '</tr>'
                            );
                        }

                        // Events.
                        var selectedFile = null;
                        tbody.find('tr').on('click', function() {
                            tbody.find('tr.selected').removeClass('selected');
                            $(this).addClass('selected');
                            selectedFile = $(this).data('file');

                            $('#browser_ok').prop('disabled', false);
                        });

                        // On Submit
                        $('#browser_ok').off('click').on('click', function() {
                            if (type === 'audio') {
                                $('#files_audio').val(selectedFile);
                            } else if (type === 'features') {
                                $('#files_features').val(selectedFile);
                            }
                            browseModal.modal('hide');

                            if (done) {
                                done();
                            }
                        });

                        // Show table.
                        $('#browser_loading').hide();
                        $('#browser_content').show();
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.error(errorThrown);
                    }
                });
            }


            function afterBrowsed() {
                if ($('#files_audio').val().length > 0 && $('#files_features').val().length > 0) {
                    // Show the other steps.
                    $('.step.options').collapse('show');
                } else {
                    $('.step.options').collapse('hide');
                }
            }

            $('#files_audio_select').click(function() {
                selectFile('audio', afterBrowsed);
            });
            $('#files_features_select').click(function() {
                selectFile('features', afterBrowsed);
            });

            // TODO: TEMPORARY FOR DEVELOPMENT.
            //$('#files_audio').val('record_small_01.mp3');
            $('#files_audio').val('record_2019-03-19_11-22-52.mp3');
            //$('#files_features').val('record_small_01.mp3.csv');
            $('#files_features').val('record_2019-03-19_11-22-52.mp3.csv');
            afterBrowsed();

            var isAutoDetecting = false;
            $('#options_auto_detect').on('click', function() {
                if (isAutoDetecting) {
                    alert('We are already auto-detecting the valuse for you!');
                }
                isAutoDetecting = true;

                // Load state.
                $('#options_auto_detect').html(
                    '<span class="spinner-border" role="status" aria-hidden="true"></span> Detecting...'
                );
                $('.step.options input, .step.options button').prop('disabled', true);

                // Fire two ajax requests.
                var audioDone = false;
                var featuresDone = false;

                function finish() {
                    var totalDuration = parseInt($('#options_total_duration').val());
                    var totalSplits = parseInt($('#options_total_splits').val());
                    if (! isNaN(totalDuration) && ! isNaN(totalSplits)) {
                        var splitDuration = totalDuration / totalSplits;
                        $('#options_split_duration').val(Math.round(splitDuration));
                    }

                    $('#options_auto_detect').html('Auto Detect');
                    $('.step.options input, .step.options button').prop('disabled', false);
                }

                $.ajax({
                    url: '/ajax/analyse/' + $('#files_audio').val(),
                    timeout: 15 * 60 * 1000 // 15 minutes
                }).done(function (data) {
                    if (! data || ! data.hasOwnProperty('result') || ! data.result.hasOwnProperty('sample_rate') || ! data.result.hasOwnProperty('duration')) {
                        return;
                    }

                    $('#options_sample_rate').val(data.result.sample_rate);
                    $('#options_total_duration').val(Math.round(data.result.duration * 1000));
                }).fail(function (err) {
                    alert('Analysing audio failed!');
                    console.error(err);
                }).always(function () {
                    audioDone = true;
                    if (audioDone && featuresDone) {
                        finish();
                    }
                });

                $.ajax({
                    url: '/ajax/analyse/' + $('#files_features').val(),
                    timeout: 15 * 60 * 1000 // 15 minutes
                }).done(function (data) {
                    if (! data || ! data.hasOwnProperty('result') || ! data.result.hasOwnProperty('lines')) {
                        return;
                    }

                    $('#options_total_splits').val(data.result.lines);
                    console.log(data);
                }).fail(function (err) {
                    alert('Analysing features failed!');
                    console.error(err);
                }).always(function () {
                    featuresDone = true;
                    if (audioDone && featuresDone) {
                        finish();
                    }
                });
            });


            // Stamper part.
            var player = $('#stamp_player');
            var frames = [];

            $('#options_done').on('click', function() {
                // todo: validate

                // Clear frames.
                frames = [];

                // Show the correct step.
                $('.step.options, .step.files').collapse('hide');
                $('.step.stamp').collapse('show');
                player[0].src = '/audio/' + $('#files_audio').val();
                player[0].load();
                // var playor = new Plyr('#stamp_player');
            });

            // Init Player Stuff.
            player.on('durationchange', function() {
                $('.player-slider').attr('min', 0).attr('max', Math.round(player[0].duration * 1000)).val(0);
            });
            player.on('volumechange', function() {
                $('.player-volume-slider').val(player[0].volume * 100);
            });
            player.on('play', function() {
                $('.control-playpause i').removeClass('fa-play').addClass('fa-pause');
            });
            player.on('pause', function() {
                $('.control-playpause i').removeClass('fa-pause').addClass('fa-play');
            });
            player.on('ended', function() {
                $('.control-playpause i').removeClass('fa-pause').addClass('fa-play');
            });
            if (player[0].muted || player[0].volume === 0.0) {
                $('.control-volume i').removeClass('fa-volume-up').addClass('fa-volume-mute');
            }
            $('.player-volume-slider').val(player[0].volume * 100);
            $('.player-volume-slider').on('input', function() {
                player[0].volume = parseInt($(this).val()) / 100;
            });
            $('.player-slider').on('change', function() {
                player[0].currentTime = parseInt($(this).val()) / 1000;
            });
            $('.control-prevframe').on('click', function() {
                player[0].currentTime -= 10;
            });
            $('.control-nextframe').on('click', function() {
                player[0].currentTime += 10;
            });
            $('.control-playpause').on('click', function() {
                if (player[0].paused || player[0].ended) {
                    player[0].play();
                } else {
                    player[0].pause();
                }
            });
            $('.control-volume').on('click', function() {
                player[0].muted = !player[0].muted;
                if (player[0].muted || player[0].volume === 0.0) {
                    $('.control-volume i').removeClass('fa-volume-up').addClass('fa-volume-mute');
                } else {
                    $('.control-volume i').removeClass('fa-volume-mute').addClass('fa-volume-up');
                }
            });

            var lastTime = null;
            var playerUpdate = function () {
                if (player[0].currentTime === lastTime) {
                    return;
                }

                $('.player-slider').val(Math.round(player[0].currentTime * 1000));
                $('.player-time').text(formatTime(player[0].currentTime));

                lastTime = player[0].currentTime;
            };
            var playerUpdateInterval = setInterval(playerUpdate, 50);
        });
    </script>
{% endblock %}

{% block custom_css %}
<style>

.step {
    background: rgba(0,0,0,.04);
    border-radius: 5px;
    padding: 15px;
}
label {
    font-weight: bold;
}

.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 65vh;
    overflow-y: auto;
}
#browser_list tr {
    cursor: pointer;
}
#browser_list tr:hover {
    text-decoration: underline;
    color: cornflowerblue;
}
#browser_list tr.selected {
    background: rgba(0, 0, 0, 0.15);
    border: 2px rgba(0, 0, 0, 0.20) dashed;
}
#browser_list tr.selected:after {
    display: inline-block;
    position: absolute;
    left: -5px;
    margin-top: 5px;
    content: '\25B6';
    color: cornflowerblue;
}

.player {
    border: 1px #cccccc solid;
    border-radius: 15px;
    padding: 15px;
}
.player-controls {
    display: flex;
    flex-direction: row;
    background: aliceblue;
    border: 1px solid #cccccc;
    padding: 5px;
    border-radius: 4px;
}
.player-controls-motion-container {
    width: 120px;
}
.player-controls-motion-container a {
    margin-right: 5px;
    padding: 5px;
}
.player-controls-motion-container i {
    font-size: 20px;
}
.player-slider-container {
    flex: auto;
}
.player-slider {
    width: 100%;
}
.player-time-container {
    width: auto;
    padding: 0 5px;
}
.player-time {
    font-size: 12px;
}
.player-volume-container {
    width: 150px;
}
.player-volume-slider-container {
    display: inline-block;
    width: 120px;
}
.player-volume-slider {
    width: 100%;
}

.control:hover {
    text-decoration: none;
}

.nice-slider-container {

}
.nice-slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.nice-slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
.nice-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.nice-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

</style>
<link rel="stylesheet" href="https://cdn.plyr.io/3.5.2/plyr.css" />
{% endblock %}
