<h2>Project Form</h2>

<form>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="project.name" required name="name">
  </div>


  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="custom_location" [(ngModel)]="customLocation" name="customLocation">
    <label class="custom-control-label" for="custom_location">Custom data location</label>
  </div>

  <div class="form-group" [hidden]="! customLocation">
    <label for="location">Location</label>
    <input type="text" class="form-control" id="location" [(ngModel)]="project.location" name="location">
  </div>

  <br>

  <button type="submit" class="btn btn-primary" (click)="submit()">
    Save
  </button>
</form>
