<div class="step files">
  <h2>
    <a [routerLink]="['/input']" class="btn btn-sm btn-primary" id="input-button">
      Create ground-truth
    </a>
    Prediction files
  </h2>
  <div class="row" *ngIf="! loading">
    <div class="col">
      <label for="files_audio">
        Audio File
      </label>

      <div class="input-group mb-3">
        <input type="text" id="files_audio" readonly="readonly" class="form-control" [(ngModel)]="stepService.audioFile">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" id="files_audio_select" (click)="browse('audio')">
            Browse...
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <label for="files_predictions">
        Predictions File
      </label>

      <div class="input-group mb-3">
        <input type="text" id="files_predictions" readonly="readonly" class="form-control" [(ngModel)]="stepService.predictionsFile">
        <div class="input-group-append">
          <button type="button" id="files_predictions_select" class="btn btn-primary" (click)="browse('predictions')">
            Browse...
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center" *ngIf="! loading">
    <button type="button" class="btn btn-lg btn-primary" [disabled]="!stepService.predictionsFile || !stepService.audioFile" (click)="load()">
      Import
    </button>
  </div>

  <div class="text-center text-lg-center" *ngIf="loading">
    <span class="spinner-border" role="status" aria-hidden="true"></span>
    <br>
    <strong class="loading-string">Importing...</strong>
  </div>
</div>

<app-browse-modal #browseModal></app-browse-modal>
