<h2>Files</h2>
<h4>{{ path }}</h4>

<table class="table table-responsive table-striped table-sm table-hover" *ngIf="project">
  <thead>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Size</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <a [routerLink]="['/project/' + project.id + '/browse/' ]">
        <i class="fa fa-folder"></i>&nbsp;
        ..
      </a>
    </td>
    <td>Dir</td>
    <td></td>
    <td></td>
  </tr>
  <tr *ngFor="let entry of list">
    <td>
      <a [routerLink]="['/project/' + project.id + '/browse/' + entry.item ]" *ngIf="entry.is_dir">
        <i class="fa fa-folder"></i>&nbsp;
        {{entry.item}}
      </a>
      <a href="#" *ngIf="! entry.is_dir">
        <i class="fa fa-file"></i>&nbsp;&nbsp;
        {{entry.item}}
      </a>
    </td>
    <td>
      {{entry.is_dir ? 'Dir' : 'File'}}
    </td>
    <td>
      {{entry.size|human_size}}
    </td>
    <td>
      <a href="#" class="" *ngIf="entry.item.endsWith('.wav')">
        <i class="fa fa-file-audio"></i>
        Open
      </a>
    </td>
  </tr>
  </tbody>
</table>

