<div class="step stamp">
  <div class="player">
    <audio id="stamp_player" [src]="stepService.audioFile ? '/ajax/audio/' + stepService.audioFile : ''" #player></audio>
    <div class="player-controls">
      <div class="player-controls-motion-container">
        <a href="javascript:;" class="control control-prevframe" (click)="player.currentTime = player.currentTime - 10">
          <i class="fas fa-undo-alt"></i>
        </a>
        <a href="javascript:;" class="control control-playpause" (click)="togglePlay()">
          <i class="fas " [class.fa-play]="player.paused" [class.fa-pause]="!player.paused"></i>
        </a>
        <a href="javascript:;" class="control control-nextframe" (click)="player.currentTime = player.currentTime + 10">
          <i class="fas fa-redo-alt"></i>
        </a>
      </div>

      <div class="player-slider-container nice-slider-container">
        <input type="range" class="player-slider nice-slider"
               min="0" [max]="stepService.totalDuration" [value]="player.currentTime * 1000" (input)="changeTime($event.target)">
      </div>

      <div class="player-time-container">
        <span class="player-time">
          {{ formatTime(player.currentTime) }}
        </span>
      </div>

      <div class="player-volume-container">
        <a href="javascript:;" class="control control-volume" (click)="player.muted = !player.muted">
          <i class="fas" [class.fa-volume-up]="!player.muted && player.volume > 0.0" [class.fa-volume-mute]="player.muted || player.volume === 0.0"></i>
        </a>

        <div class="player-volume-slider-container nice-slider-container">
          <input type="range" class="player-volume-slider nice-slider" min="0" max="100" [value]="player.volume * 100" (input)="changeVolume($event.target)">
        </div>
      </div>

      <div class="player-speed-container">
        <select class="form-control form-control-sm player-speed-select" [(ngModel)]="player.playbackRate">
          <option *ngFor="let optionVal of speedOptions" [selected]="player.playbackRate === optionVal" [value]="optionVal">
            {{ optionVal | number:'1.1-1' }}x
          </option>
        </select>
      </div>
    </div>
  </div>

  <br>

  <div class="classifier-container">
    <div class="classifier-button" *ngFor="let category of stepService.classifyCategories">
      <button type="button" class="btn btn-classify"
              [style.background-color]="stepService.getClassifierColor(category)"
              [class.active]="currentCategory === category"
              (click)="classify(player.currentTime, category)"
      >
        {{ category }}
      </button>
    </div>
  </div>

  <div class="classify-container">
    <div class="classify-fragmentation" #classifyContainer>
      <div *ngFor="let frameId of stepService.orderedFrames"
           class="classify-frame"
           [class.current]="currentFrame === stepService.frames[frameId]"
           [style.background-color]="stepService.getClassifierColor(stepService.frames[frameId].category)">
        <div class="frame-split">#{{ stepService.frames[frameId].split }}</div>
        <div class="frame-category">{{ stepService.frames[frameId].category }}</div>

        <div class="frame-options">
          <a href="javascript:;" (click)="removeFrame(stepService.frames[frameId])">
            &times;
          </a>
        </div>
        <div class="frame-time">
          <a href="javascript:;" (click)="player.currentTime = stepService.frames[frameId].time">
            {{ formatTime(stepService.frames[frameId].time) }}
          </a>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="text-center">
    <button type="button" class="btn btn-lg btn-primary" (click)="next()">
      Next
    </button>
  </div>
</div>
