
.player {
  border: 1px #cccccc solid;
  border-radius: 15px;
  padding: 15px;

  .player-controls {
    display: flex;
    flex-direction: row;
    background: aliceblue;
    border: 1px solid #cccccc;
    padding: 5px;
    border-radius: 4px;
  }
  .player-controls-motion-container {
    width: 120px;
  }
  .player-controls-motion-container a {
    margin-right: 2px;
    padding: 5px;
  }
  .player-controls-motion-container i {
    font-size: 20px;
  }
  .player-slider-container {
    flex: auto;
  }
  .player-slider {
    width: 100%;
  }
  .player-time-container {
    width: auto;
    padding: 0 5px;
  }
  .player-time {
    font-size: 12px;
  }
  .player-volume-container {
    width: 140px;
  }
  .player-volume-slider-container {
    display: inline-block;
    width: 110px;
  }
  .player-volume-slider {
    width: 100%;
  }
  .player-speed-container {
    display: inline-block;
    width: 50px;
  }
  .player-speed-select {
    padding: 0.10rem 0.35rem;
    height: 24px;
    font-size: 0.700rem;
  }

  .control:hover {
    text-decoration: none;
  }
  .nice-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  .nice-slider:hover {
    opacity: 1;
  }
  .nice-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }

  .nice-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
}


.classifier-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}
.classifier-button {
  display: inline-block;

  .btn-classify {
    display: inline-block;
    border: 1px solid currentColor;
  }
  .btn-classify.active {
    -moz-box-shadow:    inset 0 0 15px #444444;
    -webkit-box-shadow: inset 0 0 15px #444444;
    box-shadow:         inset 0 0 15px #444444;
  }
}

.classify-fragmentation {
  margin-top: 10px;

  max-height: 300px;
  overflow-y: auto;


  .classify-frame.current {
    -moz-box-shadow:    inset 0 0 15px #444444;
    -webkit-box-shadow: inset 0 0 15px #444444;
    box-shadow:         inset 0 0 15px #444444;
  }
  .classify-frame {
    display: inline-block;
    width: calc(50% - 10px);
    padding: 5px 10px;

    .frame-split {
      display: inline;
      font-weight: bold;
      margin-right: 7px;
    }
    .frame-category {
      display: inline;
    }
    .frame-time {
      display: inline-block;
      font-size: small;
      padding-top: 2px;
      float: right;
      right: 20px;
    }
    .frame-options {
      display: inline-block;
      float: right;
      right: 10px;
      font-weight: bold;
    }
  }
}
